---
import mapImage from "../../assets/newZeland/nortIslandMap.webp";
import nzSlide1 from "../../assets/newZeland/nz-slide-1.webp";
import nzSlide10 from "../../assets/newZeland/nz-slide-10.webp";
import nzSlide11 from "../../assets/newZeland/nz-slide-11.webp";
import nzSlide2 from "../../assets/newZeland/nz-slide-2.webp";
import nzSlide3 from "../../assets/newZeland/nz-slide-3.webp";
import nzSlide4 from "../../assets/newZeland/nz-slide-4.webp";
import nzSlide5 from "../../assets/newZeland/nz-slide-5.webp";
import nzSlide6 from "../../assets/newZeland/nz-slide-6.webp";
import nzSlide7 from "../../assets/newZeland/nz-slide-7.webp";
import nzSlide8 from "../../assets/newZeland/nz-slide-8.webp";
import nzSlide9 from "../../assets/newZeland/nz-slide-9.webp";
import pin from "../../assets/newZeland/pin.png";
import Header from "../Header.astro";

import Notebook from "../Notebook.astro";
import NzSlide from "./NzSlide.astro";
import "./pinAnimation.css";
---

<main class="root">
  <Header title="Nueva Zelanda - R&D" />  
  <NzSlide image={nzSlide1} bgPosition="center bottom">
    <Notebook title="Llegamos a Nueva Zelanda" date="Lunes 1/09">
      <p>A las 05:00 aterrizamos en el aeropuerto internacional de Auckland.</p>
      <p>
        Recogemos el coche de alquiler a las 7:30 y nos vamos a descansar a
        Hamilton, donde pasaremos el primer día.
      </p>
    </Notebook>
  </NzSlide>
  <NzSlide image={nzSlide2} bgPosition="center bottom">
    <Notebook title="Hobbiton y Waitomo" date="Martes 2/09">
      <p>
        Visita a <a
          href="https://www.hobbitontours.com/"
          target="_blank"
          rel="noopener noreferrer">Hobbiton</a
        >. Veremos los famosos sets de filmación de "El Señor de los Anillos".
      </p>
      <p>
        Tras comer en el <i>The Green Dragon Inn</i>, nos dirigimos a las <a
          href="https://www.waitomo.com/"
          target="_blank"
          rel="noopener noreferrer">Cuevas de Waitomo</a
        > para explorar sus impresionantes formaciones de piedra caliza y ver la
        famosa luz bioluminiscente.
      </p>
      <p>Para finalizar el día, viajamos a Egmont, donde pasaremos la noche.</p>
    </Notebook>
  </NzSlide>
  <NzSlide image={nzSlide3}>
    <Notebook title="Egmont y traslado a Tongariro" date="Miércoles 3/09">
      <p>
        Hoy recorreremos el Parque Nacional Egmont, en el que destaca el monte
        Taranaki y su reflejo sobre el lago Mangamahoe.
      </p>
      <p>
        Después de una ducha y una comida rápida, continuamos la ruta en coche
        hacia el Parque Nacional Tongariro.
      </p>
    </Notebook>
  </NzSlide>
  <NzSlide image={nzSlide4}>
    <Notebook title="Tongariro" date="Jueves 4/09">
      <p>
        Este día está dedicado a explorar el montañoso Parque “Tongariro”. Aquí
        están los volcanes Ngauruhoe y Ruapehu que Peter Jackson utilizó en sus
        grabaciones para el Monte del Destino y la Montaña Solitaria
        respectivamente.
      </p>
    </Notebook>
  </NzSlide>
  <NzSlide image={nzSlide5}>
    <Notebook title="Wai-O-Tapu" date="Viernes 5/09">
      <p>
        La primera parada del día será en las Tawhai Falls. Es el Estanque
        Vedado en Henneth Annûn donde Gollum pesca antes de su captura en <i
          >"Las Dos Torres"</i
        >.
      </p>
      <p>
        Luego iremos a Wai-O-Tapu, un parque geotermal famoso por sus géisers y
        coloridas formaciones.
      </p>
    </Notebook>
  </NzSlide>
  <NzSlide image={nzSlide6}>
    <Notebook title="Rotorua y Redwoods" date="Sábado 6/09">
      <p>
        Pasaremos la mañana visitando Rotorua. Después de comer pasearemos por
        el bosque Whakarewarewa para admirar sus enormes secuoyas rojas.
      </p>
      <p>
        Al atardecer, haremos el <a
          href="https://www.redwoods.co.nz/"
          target="_blank"
          rel="noopener noreferrer">Reedwoods Treewalk</a
        >. para ver el bosque desde una perspectiva diferente, cruzando por
        puentes colgantes y plataformas entre las copas de los árboles.
      </p>      
    </Notebook>
  </NzSlide>
  <NzSlide image={nzSlide7}>
    <Notebook title="Día de playas" date="Domingo 7/09">
      <p>
        Toca visitar playas. Tras un par de horas de coche llegaremos a Pokohino
        Beach y luego a Te Whanganui-A-Hei (la playa de las Catedrales
        neozelandesa).
      </p>
    </Notebook>
  </NzSlide>
  <NzSlide image={nzSlide8}>
    <Notebook title="Tren y Coastal Walkway" date="Lunes 8/09">
      <p>
        Empezaremos el día con un recorrido en tren turístico por un bosque
        virgen, atravesando puentes y túneles hasta el mirador Eyefull Tower.
      </p>
      <p>
        Después haremos caminata por el Coastal Walkway: un sendero que
        transcurre entre hermosas playas y acantilados.
      </p>
    </Notebook>
  </NzSlide>
  <NzSlide image={nzSlide9}>
    <Notebook title="Waiotahi y Thames" date="Martes 9/09">
      <p>
        Comenzamos con la ruta Waiotahi, un antiguo acceso a las minas de oro
        que atraviesa el parque nacional de Coromandel.
      </p>
      <p>
        Al terminar la excursión, salimos desde Thames al aeropuerto para
        devolver el coche. Hacemos noche en Auckland.
      </p>
    </Notebook>
  </NzSlide>
  <NzSlide image={nzSlide10}>
    <Notebook title="Auckland" date="Miércoles 10/09">
      <p>
        Auckland es famosa por su conexión con el mar. Caminaremos por Queen
        Street, pasearemos por Viaduct Harbour y llegaremos hasta Silo Park.
      </p>
      <p>
        Por la noche cenaremos en el Sky Tower con vistas panorámicas a la
        ciudad.
      </p>
    </Notebook>
  </NzSlide>
  <NzSlide image={nzSlide11}>
    <Notebook title="Bye bye NZ!" date="Jueves 11/09">
      <p>
        Tras 11 días en Nueva Zelanda, es hora de despedirnos. Pero este no es
        el final… ¡nuestro <a href="/polinesia">próximo destino</a> nos aguarda!
      </p>
    </Notebook>
  </NzSlide>
  <aside class="map">
    <img src={mapImage.src} alt="" style={{viewTransitionName: "transition-card-nz"}}/>
    <div class="pin">
      <img src={pin.src} width="24px" height="24px" alt="" />
    </div>
  </aside>
</main>

<style>
  .root {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--color-zinc-900);
  }  
  .map {
    z-index: 8;
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 40%;
    max-width: 585px;
    & > img {
      width: 100%;
      height: auto;
    }

    @media (max-width: 768px) {
      width: 25%;
      top: calc(100% - 24px);
      left: 24px;
      transform: translateY(-100%);
      & .pin > img {
        width: 12px;
        height: 12px;
      }
    }
  }
</style>
